#canvas
{
	display: none;
}

.indexfeed
{
	border: 1px solid lightcyan;
}

textarea
{
	border: none;
}

.thumbnails img
{
	width: 250px;
	height: 250px;
}

.hide {
	display: none;
}

.container {
	display: grid;
	grid-template-columns: auto auto auto;
}