#canvas
{
	display: none;
}

.indexfeed
{
	border: 1px solid lightcyan;
}

textarea
{
	border: none;
}

.thumbnails img
{
	width: 170px;
	height: 150px;
}

/* .top-container video
{
	width: 50%;
	height: 50%;
} */