#Options +FollowSymLinks
#RewriteEngine On
#RewriteRule ^folder1/(.*$) http://localhost:8080/#Camagru_research/folder2/$1 [R=301,L]

ErrorDocument 400 http://localhost:8080/camagru_research/error.html
ErrorDocument 401 http://localhost:8080/camagru_research/error.html
ErrorDocument 403 http://localhost:8080/camagru_research/error.html
ErrorDocument 404 http://localhost:8080/camagru_research/error.html
ErrorDocument 500 http://localhost:8080/camagru_research/error.html